.sidebar {
	display: flex;
	flex-direction: column;

	gap: 40px;

	width: 90%;

	max-width: 350px;
	max-height: 680px;

	margin-left: auto;
	margin-right: auto;
}

.headblock {
	display: flex;

	width: 100%;
	height: 180px;

	border-radius: 25px;

	background: blue;
}

.body {
	display: flex;
	flex-direction: column;

	width: 100%;
}

.wrapperBtns {
	display: flex;
	gap: 20px;
	justify-content: center;
}
.wrapperBriefs {
	display: flex;
	flex-direction: column;
	gap: 30px;
}
