.statcard {
	display: flex;
	flex-direction: column;
	gap: 40%;

	justify-content: center;
	align-items: center;

	width: 280px;
	height: 180px;

	border: 0;
	border-radius: 25px;

	background: orange;
	transition: 0.7s;
	color: #fff;
}

.head {
	display: flex;
	max-width: 90%;

	gap: 50px;

	justify-content: flex-start;
	align-items: center;
}

.header {
	font-size: 14px;
}

.body {
	display: flex;
	gap: 10px;

	max-width: 90%;

	justify-content: center;
	align-items: center;
}

.value {
	font-size: 40px;
}

.change {
	font-size: 14px;
}

.statcard:hover {
	transform: scale(1.1);
}
