.mynavmenu {
    display: none;
}

.mynavmenu.active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    width: fit-content;
    position: absolute;
    top: 80px;
    right: 30px;
    border: solid 2px #5555ff;
    border-radius: 40px;
    box-sizing: border-box;
    height: fit-content;
    padding: 20px;
}


