.iconbtn {
	display: block;

	width: 40px;
	height: 40px;

	color: #fff;
	text-align: center;

	border: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 15px;

	background: #1d1e25;
	transition: 0.5s;
}

.iconbtn:hover {
	color: #1d1e25;
	background: #c6c6c6;
	cursor: pointer;
}
