.userbrief {
	display: flex;
	width: 240px;
	height: 60px;
	gap: 20px;

	border: 0;
	border-radius: 25px;

	background: #282b38;
}

.userbrief:hover {
	cursor: pointer;
}
.credentials {
	font-size: 12px;
	flex-direction: column;
	display: flex;
	justify-content: space-around;
}

.avatar {
	border: 1px solid #55f;
	border-radius: 50%;
	width: 57px;
	height: 57px;
}